<div class="container">
    <div class="card">
        <div class="card-block">    
            <h4 class="card-title">Search</h4>
            <form (ngSubmit)="submitSearch(formSearch)" [formGroup]="formSearch" id="formSearch">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fromLocation">From</label>
                            <select [(ngModel)]="fromLocation" class="form-control" id="fromLocation" name="fromLocation" formControlName="fromLocation" required>
                                <option value="">--Please Select--</option>
                                <option *ngFor="let a of airports" [ngValue]="a.airportCode">{{a.airportName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="toLocation">To</label>
                            <select [(ngModel)]="toLocation" class="form-control" id="toLocation" name="toLocation" formControlName="toLocation" required>
                                <option value="">--Please Select--</option>
                                <option *ngFor="let a of airports" [ngValue]="a.airportCode">{{a.airportName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="date">Date:</label>
                            <input [(ngModel)]="dateSelected" type="date" class="form-control" id="dateSelected" name="dateSelected" formControlName="dateSelected" required placeholder="dd-mm-yyyy"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dateRange">Select a range for days:</label>
                            <input [(ngModel)]="dateRange" type="number" class="form-control" id="dateRange" name="dateRange" formControlName="dateRange" required min="0"/>
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary" type="submit" [disabled]="!formSearch.valid">Submit</button>
            </form>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Flight #</th>
                <th>Start</th>
                <th>Finish</th>
                <th>Distance</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of search">
                <th scope="row"><span class="badge badge-default badge-pill">{{s.flightNum}}</span></th>
                <th>
                    <span>{{s.startDatetime}}</span>
                    <span>{{s.startAirportCode}}</span>
                </th>
                <th>
                    <span>{{s.finishDatetime}}</span>
                    <span>{{s.finishAirportCode}}</span>
                </th>
                <td>{{s.distance}}</td>
                <td><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>{{s.price}}</td>
            </tr>
        </tbody>
    </table>  
    <div class="text-center" *ngIf="search == 0">
        <span >No result found</span>
    </div>  
</div>